.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter-body{
	border: 2px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.converter-title{
	text-align: center;	
}

.input{
	height: 25px;
	text-align: center;
	border: 1px solid black;
    width: 200px;
    margin: 5px 0px;
}

#from,#to{
    height: 23px;
	width: 150px;	
	border: 1px solid black;
}

.convert {
    font-weight: bold;
    text-align: center;
    margin: 30px 0px 15px 0px;
}

.button {
    font-size: 20px;
    background-color: darkblue;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.footer {
    color: red;
}